

<div class="container" id="ap-proctoring-container">
    <h1>AutoProctor</h1>
    <p>Welcome to the AutoProctor Plugin! AutoProctor is an automated tool which ensures that users do not cheat on exams while taking online exams. It tracks their environment and activities using their camera, mic and screen they are sharing. Based on these violations, it calculates a Trust Score and also generates a report of the violations.</p>
</div>

<div class="mx-auto mt-8 max-w-5xl" id="ap-report__overview"></div>
<div class="mx-auto mt-8 max-w-5xl" id="ap-report-tab-container"></div>
<div class="mx-auto mt-8 max-w-5xl" id="ap-report__session" display="none"></div>
