<div
   id="loader-container"
   style="
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: white;
   "
   >
   <div
      id="ap-loader-container"
      style="
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 100vh;
      "
      >
      <div
         id="ap-loader-box__preload"
         style="
         display: flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
         width: 75%;
         margin-bottom: 44px;
         "
         >
         <div class="sec-text-clr" style="margin-bottom: 2px;">
            <span id="ap-progress-bar-percent">10</span>%
         </div>
         <div class="aptw-rounded-full" style="width: 100%; background-color: gray; margin-bottom: 5px;">
            <div
               id="ap-progress-bar"
               class="
               aptw-bg-green-900
               aptw-text-xs
               aptw-font-medium
               aptw-text-blue-100
               aptw-text-center
               aptw-leading-none
               aptw-p-1
               aptw-rounded-full
               "
               style="
               width: 10%;
               background-color: #116a14;
               color: white;
               text-align: center;
               padding: 4px;
               font-size: 12px;
               font-weight: 600;
               "
               ></div>
         </div>
         <div id="pre-loader-text" style="font-size: large; max-width: 100vw; padding: 4px; text-align: center;">
            Setting Up AutoProctor. If this process is very slow, it means you need better internet connectivity.
         </div>
         <div
            id="ap-progress-text"
            style="font-size: large; max-width: 100vw; padding: 4px; text-align: center; display: none;"
            >
            Please wait for up to a minute for the system to be set up. If it still doesn't load,
            <a
               class="aptw-text-blue-600 hover:aptw-underline"
               href="https://help.autoproctor.co/instructions-for-taking-a-proctored-test/"
               target="_blank"
               >
            click here
            </a>
            for some steps you can follow.
         </div>
      </div>
   </div>
</div>
;